.task-columns {
  border: 1px solid lightgrey;
  padding: 15px 10px;
  border-radius: 4px;
  background: #e6e6e6;

  .column-header-icon {
    margin-right: 10px;
  }
}

.task-list-header {
  margin: 15px 0px;
}
